<h1>Events#form</h1>
<p>Find me in app/views/events/form.html.erb</p>
<%= simple_form_for @event do |f| %>
    <%= f.input :address, input_html: {class: "address"} %>
    <%= f.input :event_type, input_html: { } %>
    <%= f.input :name, input_html: { } %>
    <%= f.input :private_event, input_html: { } %>
    <%= f.input :description, input_html: { } %>
    <%= f.input :date, as: :date, html5: true, input_html: { } %>
    <%= f.input :photo, as: :file, input_html: { } %>
    <%= f.button :submit, class: "btn btn-primary" %>
<% end %>