<!DOCTYPE html>
<html>
<head>
	<title>Cropsharing</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<%= render 'layouts/navbar' %>
	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


	<div class="container"> 
		<% if current_user %>
			<%= current_user.email %>
		<% else %>

		<h1>hello</h1>


		<% end %>
	</div>
		<%= yield %>

</body>
</html>
